@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: $font-main;
  background-image: url(@/public/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-size: 17px;
  overflow: hidden;
  max-height: 812px;
  color: #fff;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Dosend;
  src: url("@/public/fonts/Dosend.ttf");
}

.wrapper {
  max-width: 350px;
  margin: 0 auto;
}

img {
  height: 100%;
}

.textTitle {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.textSubtitle {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
